* {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    margin: 0; 
    padding: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 67%, rgba(207,207,207,1) 100%);
    max-width: 100%; 
    overflow-x: hidden; 
}

h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    color : white;
}


li, a, button {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size:16px;
    color : black;
    text-decoration: none;
}

header {
    width: 100%; 
    position : relative;
    display : flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgb(112,103,255);
    background: linear-gradient(90deg, rgba(112,103,255,1) 0%, rgba(73,215,226,1) 61%, rgba(255,255,255,1) 100%);
}

.left, .right {
    position: absolute;
}

.left {
    left: 0;
    padding-left: 200px;
}

.right {
    right: 0; 
    padding-right: 200px;
}

.logo {
    cursor : pointer;
}

button {
    padding : 10px 35px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px; 
}

button:hover {
    color: white;
    background: rgb(126,99,249);
    background: linear-gradient(90deg, rgba(126,99,249,1) 34%, rgba(73,215,226,1) 100%, rgba(255,255,255,1) 100%);
}

/*CSS DEL DESPLEGABLE*/
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 50%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 10;
}

.sub-menu-wrap.open-menu {
    z-index: 10;
    max-height: 400px;
}

.sub-menu {
    border: 2px solid black;
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
     width: 100%;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

/*CSS Mostrar información*/

main {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

main h1 {
    color: black;
}

.container {
    background: #fff;
    width: 600px;
    height: 600px;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightbox {
    padding-right: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #777;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}

.input, p {
    border: 0;
    border-bottom: 2px solid #3fb6a8;
    width: 100%;
    font-size: 1em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}




